.cookieDiv{
    width: 100%;
    background: #000;
    height: 60px;
    position: fixed;
    bottom: 0px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.cookieDiv span {
    color: #f0f3fb;
    font-size: 16px;
    margin-left: 20px;
}

.cookieDiv a {
    color: red;
}

.cookieDiv .aDiv a {
    height: 60px;
    width: 100px;
    background: red;
    color: white;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}