@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
}

nav {
    height: 40px;
    padding: 10px;
    background: royalblue;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu > li {
    margin-left: 10px;
    overflow: hidden;
}

.menu > li > a {
    color: black;
    text-decoration: none;
}

.menu > li > a:hover {
    color: white;
}

.hamburger-icon {
    width: 30px;
    height: 100%;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar, .bar::before, .bar::after {
    width: 30px;
    height: 4px;
    background: #ffffff;
    border-radius: 2px;
    display: block;
    position: absolute;
    transition: tranform 300ms;
}

.bar::before {
    content: '';
    margin-top: -8px;
}

.bar::after {
    content: '';
    margin-top: 8px;
}

#hamburger {
    display: none;
}

#hamburger:checked + .hamburger-icon .bar::before {
    margin-top: 0;
    transform: rotate(45deg);
}

#hamburger:checked + .hamburger-icon .bar {
    background-color: rgba(255, 255, 255, 0);
}

#hamburger:checked + .hamburger-icon .bar::after {
    margin-top: 0;
    transform: rotate(-45deg);
}

/* 可視區域的寬度小於等於768px 的樣式 */
@media (max-width: 768px) {
    .hamburger-icon {
        display: flex;
    }

    .menu {
        width: 100%;
        margin-top: 40px; /* 與上方導覽距離 */
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        justify-content: flex-end; /* 菜單位置 */
        align-items: flex-end;
    }

    .menu > li {
        width: 20%;
        margin: 0;
        background: bisque;
        color: white;
        text-align: center;
        font-size: 12px;
    }

    #hamburger ~ .menu li {
        height: 0;
        padding: 0;
        border-bottom: 0;
        transition: 300ms;
    }

    #hamburger:checked ~ .menu li {
        height: 20px;
        padding: 15px 0;
        border-bottom: 1px solid #777777;
        transition: 300ms;
    }
}